[submodule "modules/valhalla-envs"]
	path = modules/valhalla-envs
	url = git@github.com:TheBranchDriftCatalyst/valhalla-envs.git
[submodule "modules/brainz"]
	path = modules/brainz
	url = git@github.com:TheBranchDriftCatalyst/brainz.git
[submodule "modules/chain"]
	path = modules/chain
	url = git@github.com:TheBranchDriftCatalyst/chain.git
