[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pymongo = "*"
mock = "*"
pytest = "*"
mongomock = "*"
tenacity = "*"
mongoengine = "*"
sqlalchemy = "*"
requests-ratelimiter = "*"
vcrpy = "*"
pytest-vcr = "*"
alembic = "*"
minio = "*"
apscheduler = "*"
fastapi = "*"
pydantic = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.9"
